@model ToRead.MVC.Models.LocationModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update</h1>

<hr />
<p>Bug! Updating don't work</p>

<form>
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Place">Place</label>
        <input asp-for="Place" />
    </div>
    <div>
        <label asp-for="Shelf">Shelf</label>
        <input asp-for="Shelf" />
    </div>
    <div>
        <input type="submit" value="Update" />
    </div>
</form>