<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <div>
        <p>This is text from layout</p>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
